/* Visit http://www.menucool.com/responsive-slider for instructions */

#ninja-slider {
    width:100%;
    background:#fff;
    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}
#ninja-slider ul {
    margin-bottom: 0 !important;
}


#ninja-slider.fullscreen {
    background:#000;
}


.fs-icon {
    position: absolute;
    width:60px;
    height:60px;
    left:10px;
    bottom:10px;
    /*background: rgba(0,0,0,0.2);/**/
    background: url('../img/sprite-ns.png');
    z-index:12;
}

 .fs-icon {
    opacity: 1;
}
div.fs-icon {
    right:30px;
}

#ninja-slider.fullscreen .fs-icon::before {
    content:"CLOSE";
}


#ninja-slider .slider-inner {
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider.fullscreen .slider-inner {
    width:95%;
    max-width:800px;
}

#ninja-slider ul {
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider li {

    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */
#ninja-slider .ns-img {

    background-size:cover;/*Note: If transitionType is zoom, it will be overridden to cover.*/


    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/*---------- Captions -------------------*/
#ninja-slider .caption {
    padding:20px 40px;
    margin:auto;
    left:0;right:0;
    top:auto;bottom:0px;
    width:auto;
    text-align:right;
    font-family:sans-serif;
    font-size:11px;
    color:rgba(255,255,255,0.2);
    background:none;
    /*background:rgba(0,0,0,0.12);*/
    position:absolute;
    box-sizing:border-box;
}
#ninja-slider li .cap1 {
    color:rgba(255,255,255,0.5);
    text-align:center;

    opacity:0;
    bottom:40%;
    -webkit-transition:bottom 1.3s, opacity 1s;
    transition:bottom 1.3s, opacity 1s;
}

/*The cap1 of the current slide */
#ninja-slider li[class*='-'] .cap1 {
    opacity:1;
    bottom:20%;
}
#ninja-slider li .cap2 {
    color:rgba(255, 162, 0, 0.5);
    font-size:23px;
    bottom:15%;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}

/*The cap2 of the current slide */
#ninja-slider li[class*='-s'] .cap2 {
    bottom:10%;
}

/* ---------Arrow buttons ------- */
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */
/* Usually the ninja-slider.js will create the arrow buttons and pager(nav dots) automatically, unless you have added their markup manually to the HTML as this demo did.
   This demo has put them inside a DIV.navWrapper.
*/

div.navsWrapper {
    position:absolute;
    width:100px;
    height:50px;
    right:20px;
    bottom:20px;
    z-index:10;
}

#ninja-slider-prev, #ninja-slider-next
{
    position: absolute;
    display:inline-block;
    width:60px;
    height:60px;
    line-height:60px;
    margin:0;
    backface-visibility:hidden;
    overflow:hidden;
    -webkit-user-select: none;
    user-select:none;
    font-family:sans-serif;
    font-size:14px;
    transition:all 0.5s;
    cursor:pointer;
}

#ninja-slider-prev {
    left:auto; right:50%;
	margin-right:-2px;
}

#ninja-slider-next {
    left:50%; right:auto;
}
/*
#ninja-slider-prev:hover, #ninja-slider-next:hover {width:80px;background-color:rgba(0,0,0,0.6);}
*/
/*pagination within the prev/next buttons*/
#ninja-slider-prev div, #ninja-slider-next div {white-space:nowrap;opacity:0;position:absolute;}
#ninja-slider-prev div {left:6px;}
#ninja-slider-next div {right:6px;}
/*
#ninja-slider-prev:hover div, #ninja-slider-next:hover div {opacity:1;}
#ninja-slider-prev:hover.disabled, #ninja-slider-next:hover.disabled {opacity:0.1;cursor:default;}
*/

/* arrows */

#ninja-slider-prev {
    background: url('../img/sprite-ns.png') -60px 0;
}

#ninja-slider-next {
    background: url('../img/sprite-ns.png') -120px 0;
}



#ninja-slider-pager a:hover
{
    opacity:0.6;
}
#ninja-slider-pager a.active
{
    background-color:#1293dc;
    box-shadow:inset 0 1px 3px -1px #28b4ea,0 1px 1px rgba(0,0,0,.5);
}



#ninja-slider-pager, #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*Responsive settings*/
@media only screen and (max-width:600px){

    #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pager {
        /*display:none;*/
    }


    #ninja-slider li .cap1 {
        font-size:20px;
    }
}
