body{
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}

body a.light{
	color: #fff;
	transition: color 1s ease;
}
body a{
	color: #000;
	transition: color 1s ease;
}
body a:hover{
	text-decoration: none;
	color: #a0a0a0;
}
main{
	margin-top:15px;
}
/*-------------------------
MENU PRINCIPALE
--------------------------*/

.navbar-default{
	background: #fff;
	border: none;
	height: 90px;
	margin-bottom: 0px;
}
.menubutton{
	display: none;
	text-transform: uppercase;
	font-size: 500;
	font-size: 14px;
}
.menubutton .subpage{
	margin-left: 10px;
}
.menubutton .subpage:before{
	position: relative;
	content: " ";
	display: inline-block;
	background: url('../img/ico.svg') no-repeat;
	margin-left: 10px;
	width: 5px;
	height: 7px;
	padding-right: 15px;
	top:-2px;
	left: -5px;

}

@media (max-width:768px) {
	div.panel-menu{
		display: block;
	}
}

@media (min-width:768px) {
	div.panel-menu ul{width: 570px;}
	.campagna .panel-menu{padding:40px 80px; }
}

div.panel-menu ul{
	margin: 0 auto;
}

@media (min-width:768px) {
	div.panel-menu ul{width: 570px;}
	.campagna .panel-menu{padding:40px 80px; }
}
@media (min-width:992px) {
	div.panel-menu ul{width: 800px;}
}

@media (min-width:1200px) {
	div.panel-menu ul{width: 1000px;}
}


.panel-menu .group-link a:hover{
	background-color: #fff !important;
	border-bottom: 2px solid black;
	width: 50%;
}
.panel-menu .group-link a{
	text-decoration: none;
	display: inline-block;
	border-bottom: 3px solid transparent;
	width: 0px;
	transition: 0.5s ease;
	white-space: nowrap;
	height: 25px;
	padding: 0 0 3px 0;

}


#close-menu{
	display: none;
}
#mainmenu{
	background: #fff;
	z-index: 1;
}
/* versione standars del menù */
@media (min-width:768px) {
	.menubutton{
		display: inline-block;
		cursor: pointer;
	}
	.panel-menu{
		display: none;
		position: fixed;
		top:90px;
		left:0px;
		width: 100%;
		background: #fff;
	}
	ul.group-link{
		-webkit-column-count: 3; /* Chrome, Safari, Opera */
		-moz-column-count: 3; /* Firefox */
		column-count: 3;
		height: 165px;
		column-fill: auto;
		column-fill: auto;
		-moz-column-fill: auto;
		-webkit-column-fill: auto;
	}
	ul.group-link li{

		display: block;
		height: 50px;
		font-size: 13px;
		font-weight: 500;
		text-transform: uppercase;
	}
	.campagna .panel-menu{
		top:20px;
	}

	.panel-menu{
		padding: 40px 10%;
	}
	#close-menu{

		background: url('../img/close.png') center center no-repeat;
		cursor: pointer;
		float: left;
		display: block;
		position: absolute;
		right:30px;
		top:-46px;
		width: 22px;
		height: 22px;
	}

	#mainmenu{
		background:none;
	}
}
.logo a{
	display: block;
	position: relative;
	z-index: 99999999999999;
	width: 120px;
	left: 50%;
	margin-left: -60px;
}
.logo img{
	display: block;
	margin: 0 auto;
	padding-top: 22px;

}
#mainmenu, button.navbar-toggle{
	position: relative;
	top: -46px;
}

button.navbar-toggle{
	position: relative;
	margin-top:-12px;
}
.navbar-default .navbar-toggle {
	margin-bottom: 20px;
}


/*-------------------------
MENU SECONDARIO
--------------------------*/
.secondarybar{
	position: relative;
	margin-top: 100px;
	z-index: 999;
}
.secondarybar ul{
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
	padding: 0px;
}
.secondarybar li{
	list-style: none;
	padding: 0 18px;
	text-transform: uppercase;
	font-size: 500;
	font-size: 12px;
	text-align: center;
}
@media (max-width:768px) {
	.secondarybar ul{
		display: inline;
	}
	.secondarybar li{
		padding: 0 8px;
	}
}
.secondarybar a:hover, .secondarybar a.active, .secondarybar li.active a{
	border-bottom: 1px solid #000;
}

/*-------------------------
MENU FILTER
--------------------------*/
.filterbar ul{
	display: flex;
	flex-flow: row;
	justify-content: left;
	align-content: left;
	align-items: flex-start;
	padding-top: 15px;
	padding-left: 0px;
	margin-left: -20px;
}
.filterbar li{
	list-style: none;
	padding: 0 18px;
	font-size: 300;
	font-size: 14px;
}
.filterbar a:hover, .filterbar a.selected{
	font-weight: 600;
}

/*-------------------------
FOOTER
--------------------------*/
footer{
	border-top: 1px solid #D1D3D4;
}
footer .sidebar-bottom{
	margin-top: 26px;
	padding-top: 76px;
}
footer li{
	list-style: none;
	font-size: 12px;
	font-weight: 400;
}
footer li.cat{
	font-weight: 600;
}
.first{
	margin-top: 23px;
}
.viewlink{
	display: inline-block;
	margin-top: 15px;
	font-size: 12px;
}
.copyright{
	background: #1E1E1E !important;
	font-size: 11px;
	color: #fff;
	height: 50px;
	margin-top: 40px;
	margin-bottom: 0px !important;
}
.copyright a, .copyright a:hover{
	color: #fff;
}
.copyright p, .copyright span{
	line-height: 50px;
	margin-bottom: 0px;
}
div.copyright div.lng span{
	text-align: right;
	padding-right: 20px;

}
div.copyright div.lng span a, div.copyright div.lng span a:hover{
	font-size: 12px;
	color: #fff;
	padding: 0 0 0 8px;
}

/*---------------------------------------------------------------------------------------------------------------
STILI DI SUPPORTO
--------------------------*/

.breath-bar1{
	background-color: #E6E6E6;
	height: 50px;
	margin-bottom: 40px;
}
.breath-150{
	margin-top: 150px;
}
.breath-100{
	margin-top: 100px;
}
.breath-50{
	margin-top: 50px;
}

h2.title{
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	padding: 85px 0;
	letter-spacing: 5px;
}

.vjs-poster{
	background-size: cover !Important;
}
.video-js .vjs-big-play-button {
	width: 46px;
	height: 46px;
	background: none !important;
	border-radius: 46px;
	margin-left: -20px;
	border: 3px solid #fff;
}

.video-js .vjs-big-play-button:after{
	display: none;
}
.video-responsive {
	width: 100%;
	height: auto;
}
main .img-responsive{
	height: auto;
}

@media (min-width:801px)  {
	.video-js .vjs-big-play-button:after{
		display: block;
		content: "Play Video";
		text-align: center;
		position: absolute;
		width: 250px;
		margin-left: -110px;
		margin-top: 34px;
		font-family: 'Poppins', sans-serif;
		font-size: 30px;
		font-size: 600;
		letter-spacing: 5px;
	}

	.video-js-simple .vjs-big-play-button:after{
		content: " " !important;
	}
}

.slider16-9{
	max-height: 480px !important;
}

.background-row{
	background-repeat: no-repeat;
	padding-top: 100px;
	background-size: cover;
	max-height: 615px;
	background-position: top center;
}
.container-centered{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.cover-top{
	min-height: 450px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#ninja-slider.fullscreen{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100% !important;
	width: 100%;
}

.fs-icon{
	text-indent: -5000px;
}

/*-------------------------
STILI PARAGRAFI
---------------------------*/
.text-block h2{
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 115px;
}
.text-block h3{
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 115px;
}
.text-block p{
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	color: #959595;
}
.text-block-40 h2{
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 40px;
}
.text-block-40 h3{
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 40px;
}
.text-block-40 p{
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	color: #959595;
}
.quad-30{ margin-top: 30px;}
.quad-40{ margin-top: 40px;}
.quad-50{ margin-top: 50px;}
.quad-60{ margin-top: 60px;}
.quad-70{ margin-top: 70px;}

.text-cit{
	margin: 150px 0 115px;;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 30px;

}

.simple-title, .simple-title-c{
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 115px;
}
.simple-title-c{
	text-align: center;
}
.video-description{
	color: #959595;
	font-size: 14px;
	line-height: 30px;
	margin: 58px 0;
	padding: 0 8.3%;
}

.tlight{
	color:#959595;
}

/*-------------------------
VIDEO COVER
--------------------------*/


.vjs-height-cover{
	max-height: 450px !important;
	width: 100%;
	height: 450px;
	background-size: cover;
}

.skin-video{
	position: relative;
	top: -245px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.skin-video span{
	flex: 0 1 auto;
	align-self: auto;
	min-height: 51px;
	min-width: 51px;
	font-size: 30px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	line-height: 51px;
}
.skin-video span.t1{
	text-align: right;
	-webkit-order: 1;
	-ms-order: 1;
	order: 1;
	padding-right: 30px;

}
.skin-video span.t2{
	text-align: left;
	-webkit-order: 3;
	-ms-order: 3;
	order: 3;
	padding-left: 30px;
}
.skin-video span.play{
	background: url('../img/play.png') no-repeat;
	-webkit-order: 2;
	-ms-order: 2;
	order: 2;
}
.skin-video{
	cursor: pointer;
}


/*-------------------------
NEWS
--------------------------*/
.news-b1{
	display: inline-block;
	width: 50%;
	padding-left: 8px;
}
.news-b1 img{
	width: 100%;
	display: block;
}
.news-b2{
	display: inline-block;

}
.rotator{
	transform-origin: bottom left;

	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);

	position:relative;
	left: 120px;
}
div.news-b2 .name{
	display: block;
	font-weight: 600;
	font-size: 16px;
	line-height: 25px
}
div.news-b2 .name:after{
	content: "";
	display: block;
	width: 95px;
	height: 2px;
	background: #1D1D1B;
	padding: 0px;
	margin: 15px 0;
}
div.news-b2 .date{
	display: block;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;

}
a.news-b3{
	width: 50%;
	display: block;
	font-size: 22px;
	font-weight: 300;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 40px;
}

/*-------------------------
NEWS & EVENTI
--------------------------*/
.flexbox-container{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.news-block-fluid{
	height: 550px;
	background-size: cover;
}
.news-block, .blog .news-block{
	margin-top: 30px !important;
	margin-bottom: 62px !important;
}
div.flexbox{
	order:1;
	flex: 0 1 auto;
	align-self: auto;
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	text-align: center;
	line-height: 14px;
	font-size: 14px;
	height: 14px;
	text-align: center;
}
div.flexbox-1{
	order:1;
	width: 10%;
}
div.flexbox-2{
	order:2;
	flex: 0 1 auto;
	align-self: auto;
	min-heigh: 200px;
	width: 80%;
}
div.flexbox-3{
	order:3;
	width: 10%;
}
.box h2{
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	margin-top: 20px;
}
.box{
	width: 100%;
}
.box span.more{
	text-align: center;
	padding-top: 5px;
}
.box span{
	text-align: center;
	display: block;
	width: 100%;
}
.box p{
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	color: #959595;
}
.box span a{
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	border-bottom: 2px solid black;
	padding: 4px 13px;
	text-transform: uppercase;
}

/*-------------------------
NEWS & EVENTI
--------------------------*/
.news-block{
	margin-top: 50px;
	margin-bottom: 10px;
	min-height: 270px;
	background-size: cover;
	background-position: center;
}

.news-block:last-child, .news-block:last-of-type {
	margin-bottom: 50px !Important;
}
.covernews{
	text-align: center;
	min-height: 90px;
}
.flexbox-container-news{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-height: 350px;
}

div.flexboxnews{
	order:1;
	flex: 0 1 auto;
	align-self: auto;
	text-align: center;
	line-height: 14px;
	font-size: 14px;
	height: 14px;
	text-align: center;
	color: #fff;
}
div.rotate{
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
}
div.flexboxnews-1{
	order:1;
	flex: 1 0 auto;
	align-self: auto;
	min-heigh: 200px;
	width: 90%;
}
div.flexboxnews-2{
	order:2;
	flex: 0 0 auto;
	align-self: auto;
	min-heigh: 200px;
	width: 90%;
}
.covernews a.backnews{
	display: block;
	width: 100%;
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	padding-top: 4%;
	text-transform: uppercase;
}
.covernews h1{
	display: block;
	width: 100%;
	font-size: 40px;
	color: #fff;
	font-weight: 600;
	padding-bottom: 3%;
}

.moreinfo p{
	color: #dcdcdc;
	font-size: 40px;
	text-align: center;
	font-family: 'Abril Fatface', cursive;
	padding: 0 25%;
}

.moreinfo span.simple-title-c{
	display: block;
	margin-top: 0px;
	width: 100%;
}

.single-news section:last-child{
	margin-bottom: 85px;
}
.single-news .text-block p{
	margin-top: 30px;
}
.single-news .video-description{
	text-align: center;
}
.single-news .moreinfo{
	margin-bottom: 50px;
}
/*-------------------------
COVER CAMPAGNA
--------------------------*/
.cover-campagna{
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: auto;
	height: 100%;
	min-height: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.box-campagna-1{

}

.nome-campagna{
	font-size: 60px;
	text-align: center;
	color: #fff;
	font-weight: 500;
}
.view-campagna::before{
	content: " ";
	display: inline-block;
	width: 100px;
	height: 3px;
	background: #fff;
	position: relative;
	top:-18px;
	left: -20px;
	transition: 0.5s ease;
}
.view-campagna:hover::before {
	background: #a0a0a0;
}
.view-campagna{
	color: #fff;
	font-size: 60px;
	font-weight: 300;
}
.campagne-list section:last-child {
	margin-bottom: 80px;
}
.campagne-list .campagne div.row div{

}

.campagne-list .box-hover{
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
	align-items: flex-end;
	background-color: rgba(0,0,0,0.85);
	position: absolute;
	top: 0px;
	left: 15px;
	width: calc(100% - 30px);
	height: calc(100% - 20px);
	margin: 0px;
	opacity: 0;
	color:transparent;
	-webkit-transition:  0.4s;
	transition:  0.4s;
	line-height:185px;
	text-align:center;
	padding-left: 0px;
}
.campagne-list .box-hover span{
	display: block;
	height: auto;
	align-self: auto;
	height: 100px;
	transform-origin: bottom left;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	font-weight: 500;
	font-size: 50px;
	line-height: 55px;
	width: 650px;
	height: 150px;
	overflow: hidden;
	position: relative;
	left:360px;
	letter-spacing: 2px;
}
.campagne-list .box-hover span p.labelview::before{
	content:  ' ';
	width: 100px;
	height: 3px;
	display: block;
	background: #fff;
	position: relative;
	top: 27px;
	left: 22px;
}
.campagne-list .box-hover span p.labelview{
	font-weight: 300;
	font-size: 40px;
	position: relative;
	left:30px;
}

.box-hover:hover {
	color:white;
	opacity:1;
}

.box-campagna-1 span, .box-campagna-1 a{
	display: block;
	text-align: center;
}
.campagne div.row div{
	padding-bottom: 20px;
}

.back-big-button{
	display: block;
	background-position: center no-repeat;
	height: 100px;
	width: 100%;
	margin-bottom: 100px;
	text-align: center;
}
.back-big-button a{
	text-align: center;
	color: #fff;
	line-height: 100px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
.presentation-post-1{
	margin-top: 10%;
}
.presentation-post-1 h1{
	text-align: center;
	font-size: 80px;
	font-weight: 600;

}
.presentation-post-1 .col-push{
	margin-left: 20%;
	margin-right: 20%;
}
.presentation-post-1 h3{
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 115px;
}
.presentation-post-1 p{
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	color: #959595;
}
.back-and-close{
	background-position: center;
	margin: 100px 0 0 0;
	background-size: cover;
	height: 200px;
}
.back-and-close  a{
	display: block;
	width: 100%;

	margin-bottom: 50px;
	color: #fff;
	font-size: 60px;
	font-weight: 300;
	text-align: center;
	line-height: 200px;
	letter-spacing: 8px;
	transition: color 1s ease;
}
.back-and-close  a span {
	position: relative;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	top: -180px;
	letter-spacing: 0px;
}
a.back-and-close:hover{
	color: #a8a8a8;
}
@media (max-width:992px) {
	a.back-and-close  {
		line-height: 38px;
		font-size: 20px;
		letter-spacing: 4px;
		padding: 50px;
	}
	a.back-and-close  span {
		position: relative;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		top: -20px;
		letter-spacing: 0px;
	}
	.back-and-close a{
		font-size: 20px;
		letter-spacing: 4px;
	}
}

.campagne-list{

}

@media (max-width: 1200px) {
	.campagne-list .box-hover{
		padding-top: 50px;
		text-align: center;
	}
	.campagne-list .box-hover span{

		display: block;
		text-align: center;
		height: 100px;
		transform: none;
		-ms-transform: none; /* IE 9 */
		-webkit-transform: none; /* Chrome, Safari, Opera */
		font-weight: 500;
		font-size: 50px;
		line-height: 55px;
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: static;
		letter-spacing: 2px;
	}
	.campagne-list .box-hover span p.labelview::before{
		content:  ' ';
		width: 60px;
		height: 3px;
		display: block;
		background: #fff;
		position: relative;
		top: 27px;
		left: 22px;
	}
	.campagne-list .box-hover span p.labelview{
		font-weight: 300;
		font-size: 40px;
		position: static;
		left:30px;
	}
}
@media (max-width: 992px) {
	.campagne-list .box-hover{
		display: block;
		background-color:#000;
		position: static;
		width: 100%;
		margin: 0px;
		opacity: 1;
		color:#fff;
		-webkit-transition:  0.4s;
		transition:  0.4s;
		line-height:185px;
		text-align:center;
		padding-left: 0px;
	}
	.campagne-list .box-hover span p.labelview::before{
		display: none;
	}

}
/*-------------------------
PRESS PAGINA
--------------------------*/
.back-black a{
	display: block;
	background: #000;
	height: 100px;
	width: 100%;
	text-align: center;
	color: #fff;
	line-height: 100px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;

}
.back-black{
	margin-bottom: 100px;

}
.presspage div.fc{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
}
.presspage div.date{
	flex:  0 1 auto;
	align-self: auto;
	max-width: 100px;
	min-height: auto;
	font-family: 'Abril Fatface', cursive;
}
.presspage div.cnt{
	flex:  1 1 auto;
	align-self: auto;
	min-height: auto;
}
.presspage div.date span{
	display: block;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	font-weight: 400;
	font-size: 80px;
	position: relative;
	top:-50px;
	left: -20px;
	color: #c7c7c7;
}
.presspage .list dl{
	padding-right: 20px;
}
.presspage .list dt{
	font-size: 14px;
	font-weight: 500;
	color: #a0a0a0;
	text-transform: uppercase;
}

.presspage .list dd{
	font-size: 40px;
	font-weight: 600;
}
.presspage .list dl.inline{
	float: left;
}
.presspage .list dl.small dd{
	font-size: 14px;
}
.break{
	clear: left;
}

.presspage .btm{
	background: url('../dev/btm.jpg') no-repeat;
	min-height: 330px;
	background-size: cover;
	margin-top: 50px;
}
.presspage .btm a{
	font-size: 60px;
	letter-spacing: 2px;
	font-weight: 300;
	line-height: 30px;
}
.presspage .btm a span{
	font-size: 14px;
	font-weight: 600;
}
@media (max-width: 768px) {
	.presspage .btm a{
		font-size: 30px;
		line-height: 25px;
	}
}
/*-------------------------
PAGINA CAMPAGNA
--------------------------*/
.container-fluid{
}
.navbar-fixed-top div.container{
	max-height: 100px;
}
header.campagna .navbar-default {
	background-color: transparent;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1030;
}
header.campagna .navbar-btn{
	color: #fff !important;
}
header.campagna .menubutton .subpage:before{
	background: url('../img/ico-w.svg') no-repeat;
}
header.campagna #close-menu{
	background: url('../img/close-w.png') center center no-repeat;
}
header.campagna .panel-menu{
	position: absolute;
	width: 100%;
}

.video-cover-intro{
	height: 550px;
	width: 100%;
	position: relative;
	margin-top:-38px;
	overflow: hidden;
	z-index: 100;
	transition: width 1s;
	transition: height 1s;
	transition: top 1s;
	/*margin-bottom: 50px;*/
}
.video-cover-intro-page{
	margin-top:0px !important;
}
.video-cover-fs{
	display: block;
	position: fixed;
	background-color: #000;
	width: 100%;
	height: 100%;
	z-index: 9999;
	margin-top: 0px !important;
	padding: 0px !important;
	top: 0px;
}
#ptaudio{
	cursor: pointer;
	display: block;
	position: absolute;
	background-image: url('../img/pt_audio.png');
	width: 42px;
	height: 42px;
	top: 30px;
	right: 30px;
	z-index: 9999999999;
	-webkit-transition:background-position .1s ease-in;
	-moz-transition:background-position .1s ease-in;
	-o-transition:background-position .1s ease-in;
	transition:background-position .1s ease-in;
}
.vid-muted{
	background-position: top center;
}
.vid-audioed{
	background-position: bottom center;
}
.video-cover-intro video{
	padding: 0px;
	transition: padding 1s;
}
.video-cover-fs video{
	padding: 200px;
}

.fullscreen-bg__video {

	position: absolute;
	top: 46%;
	left: 0;
	width: 100%;
	height: 100%;

}

.control-video{
	position: absolute;
	width: 100%;
	height: 50px;
	z-index: 999;
	top:50%;
}
.campagna .panel-menu {
	position: relative !important;
}
@media (min-aspect-ratio: 16/9) {
	.fullscreen-bg__video {
		height: 300%;
		top: -100%;
	}
	@media (max-width:1200px) {
		.video-cover-intro{

		}
		.fullscreen-bg__video {
			height: auto;
			top: 0px;
		}
	}

}
@media (min-width:1200px) {
	@media (max-aspect-ratio: 16/9) {
		.fullscreen-bg__video {
			height: 180%;
			top: -50%;
			width: 100%;
		}

		.video-cover-fs video#video-cover{
			padding: 10px !important;
		}
	}
}
@media (max-width:1200px) {
	.campagna nav{
		background-color: #1e1e1e !important;
	}
	.video-cover-intro{

		width: 100%;
		height: auto;
		margin-top: 90px;
	}
	.fullscreen-bg__video {
		position: static;
		width: 100%;
		height: auto;
	}
}


.control-video{
	display: flex;
	flex-flow:  row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.control-video .gobutton{
	flex: 0 1 auto;
	background: url('../img/play.png') no-repeat center;
	width: 51px;
	height: 51px;
	display: block;
	padding: 0 75px;

}
.control-video .tit1, .control-video .tit2{
	color: #fff;
	font-size: 30px;
	letter-spacing: 3px;
	font-weight: 500;
	flex: 1 0 auto;
	min-width: 200px;
	width: calc(50% - 25px);
}
.control-video .tit1{
	text-align: right;
}

@media (max-width:992px) {

	.control-video span{
		display: none !important;
	}
	.control-video{
		display: block;
		width: 100%;
		min-height: 300px;
		top:0px;
	}
	.video-cover-fs video{
		padding: 20px;
		height: 100vh;
	}
}

.background-row img.img-sm-center{
	margin: 0 auto;
}
/* schema 3*/

.title-down{
	position: relative;
	z-index: 10;
}
.title-down-din{
	top: -150px;
}
.title-offset{
	position: relative;
	top:163px;
	z-index: 11;
}
.title-offset-din{
	top:0px !important;
}
.title-offset span{
	font-size: 50px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.title-offset p{
	font-size: 14px;
	font-weight: 600;
	text-align: center;
}
.video-quad{
	margin-top: 240px;
	width: 100%;
}
.bottom-box{
	padding-left: 60px;
	margin-top: 80px;
}
.bottom-box p {
	position: relative;
	z-index: 12;
}
.bottom-box .bg-s{
	float: left;
	display: block;
	transform-origin: bottom left;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	font-size: 80px;
	font-weight: 300;
	color: #c7c7c7;
	position:absolute;
	width: 400px;
	z-index: 8;
	left:350px;
	bottom:-80px;
	letter-spacing: 5px;
}
.schema4{
	position: relative;
	margin-bottom: -100px;
}
.schema5{
	position: relative;
	display:flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-repeat: no-repeat !important;
	min-height: 400px;
	text-align: center;
	/*top:-100px;*/
	background-size: cover;
	width: 100%;
}
.schema5 .row{
	height: auto;
}
.schema5 h5{
	font-size: 60px;
	font-weight: 300;
	text-align: center;
	color: #fff;
}
.schema5 p{
	text-align: center;
	font-size: 14px;
	color: #fff;
}
.photo-frame-campagna{
	display: block;
	position: relative;
	overflow: hidden;
	height: 800px;
	max-height: 800px;
}
@media (max-width:992px) {

	img.img-sm-center, video.img-sm-center{
		margin: 0 auto;
	}
	.title-offset{
		position:static;
		top:163px;
		width: 100%;
		text-align: center;
	}
	.bottom-box .bg-s{
		float: none;
		display: block;
		transform:none;
		-ms-transform: none; /* IE 9 */
		-webkit-transform: none; /* Chrome, Safari, Opera */
		font-size: 60px;
		font-weight: 300;
		color: #c7c7c7;
		position:static;
		width: 100%;
		letter-spacing: 5px;
		overflow: hidden;
	}
	.title-offset span{
		font-size: 60px;
		line-height: 60px;
		text-align: center;
	}
	html{
		overflow-x: hidden;
	}
	.schema5 {
		top:60px;
	}

	div.copyright{
		height: auto !important;
	}
	div.copyright p{
		text-align: center;
	}
}

/*-------------------------
PAGINA UOMO
--------------------------*/
.schemau1, .schemau2{
	padding-top: 30px;
	padding-bottom: 30px;
}
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.schemau1 .bgcolor{
	background: #ffffff;
	background: -webkit-linear-gradient(#ffffff 34%, #325874 34%, #325874 99%);
	background: -o-linear-gradient(#ffffff 34%, #325874 34%, #325874 99%);
	background: linear-gradient(#ffffff 34%, #325874 34%, #325874 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#325874',GradientType=0 );
}

.schemau1 .text-block p, .schemau2 .text-block p{
	text-align: center;
	padding-top: 30px !important;
}

.schemau2 .bgcolor{
	background: #ffffff;
	background: -webkit-linear-gradient(#ffffff 34%, #6d879b 34%, #6d879b 99%);
	background: -o-linear-gradient(#ffffff 34%, #6d879b 34%, #6d879b 99%);
	background: linear-gradient(#ffffff 34%, #6d879b 34%, #6d879b 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#325874',GradientType=0 );
}
.schemau2:last-child, .schemau2:last-of-type {
	padding-bottom: 82px;
}
.bottom{
	position: absolute;
	bottom: 0;
}
.view{
	font-weight: 500;
	font-size: 80px;
	color: #FFF;
}
.view:after{
	content: ' ';
	display: inline-block;
	background: url('../img/ff.png');
	width: 60px;
	height: 50px;
	margin-left: 20px;

}
.schemau1 .c0{
	display: flex;
	flex-flow:  row nowrap;
	justify-content: flex-start;
}
.schemau1 .c1{
	flex: 0 1 auto;
	align-self: flex-end;
	width: 11%;
}
.schemau1 .c1 span{
	display: block;
	transform-origin: top left;
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
	width: 400px;
	font-weight: 600;
	font-size: 14px;
	color:#fff;
	text-align: center;
	position: relative;
	top:-30px;
	padding-top: 20px;
	letter-spacing: 1px;

}
.schemau1 .c2{

	flex: 1 1 auto;
	align-self: flex-start;
	width:100%;

}
.schemau1 .c2 a.view{
	float: right;
	position: relative;
	right: 2%;
	z-index: 11;
}
.schemau1 .c2 a.view:hover{
	color:#fff;
}
.schemau1 .c2{
	width: 72%;
}
.schemau1 .c2 img{
	width: 87%;
	position: relative;
	top:60px;
	z-index: 10;
}
@media (max-width:992px) {
	.schemau1 .bottom, .schemau2 .bottom{
		position: static;
		margin-top: 0px;

		display: block;

	}
	.schemau1 .c1 span{
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		transform: rotate(0deg);
		z-index: 20;
	}
	.schemau1 .c0{
		flex-flow:  column-reverse nowrap;
		justify-content: flex-start;
	}
	.schemau1 .c1{
		width: 100%;
	}
	.schemau1 .c1 span{
		top:0;
		width: 100%;
		padding-bottom: 20px;
	}
	.view{
		font-weight: 500;
		font-size: 40px;
		color: #FFF;
	}
	.schemau1 .c2{
		width: 100%;
		padding-bottom: 20px;
	}
}

.schemau2 .c0{
	display: flex;
	flex-flow:  row nowrap;
	justify-content: flex-start;
}
.schemau2 .c1{
	flex: 0 1 auto;
	align-self: flex-end;
	width: 11%;
}
.schemau2 .c1 span{
	display: block;
	transform-origin: top left;
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
	width: 400px;
	font-weight: 600;
	font-size: 14px;
	color:#fff;
	text-align: center;
	position: relative;
	top:-30px;
	padding-top: 20px;
	letter-spacing: 1px;

}
.schemau2 .c0{
	padding-bottom: 20px;
}
.schemau2 .c2{

	flex: 1 1 auto;
	align-self: flex-start;
	width:100%;
	padding-left: 80px;

}
.schemau2 .c2 a.view{
	float: left;
	position: relative;
	left: -9%;
	z-index: 11;
}
.schemau2 .c2 a.view:hover{
	color:#fff;
}
.schemau2 .c2{
	width: 72%;
}
.schemau2 .c2 img{
	width: 95%;
	position: relative;
	top:60px;
	z-index: 10;
}
@media (max-width:992px) {
	.schemau2 .c1 span{
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		transform: rotate(0deg);
		z-index: 20;
	}
	.schemau2 .c0{
		flex-flow:  column nowrap;
		justify-content: flex-start;
	}
	.schemau2 .c1{
		width: 100%;
	}
	.schemau2 .c1 span{
		top:0;
		width: 100%;
		padding-bottom: 20px;
	}
	.view{
		font-weight: 500;
		font-size: 40px;
		color: #FFF;
	}
	.schemau2 .c2{
		width: 100%;
		padding: 0 0 0 20px;
	}
	.schemau2 .c2 a.view{
		float: left;
		position: relative;
		left: -2%;
		z-index: 11;
	}
	.row-eq-height {
		display: block;
	}

	.schemap4 div{
		display: none;
	}
	.schemap1 .text-block h2{
		margin-top: 10px;
	}
}
@media (min-width:1200px) {
	#videoscroll1{
		width:586px;
	}
}
@media (max-width:768px) {
	.schemap4{
		display: none;
	}
}

/*-------------------------
PAGINA Collezioni
--------------------------*/
.collezioni .schemap0{
	min-height: 450px;
	background-size: cover;
}
.collezioni .schemap5{
	padding-top: 100px;
}

.image-cont{
	height: 450px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;

}
.image-rev{
	padding: 0px !important;
}
.image-rev img{
	height: 450px;
	width: auto;
}
@media (max-width:992px) {
	.image-rev img{
		height: auto;
		width: auto;
		margin: 0 auto 40px auto;
	}
}
.image-cont p{
	display: block;
	font-weight: 600;
	font-size: 14px;
	color: #fff;
}
.schemap1 .text-block{
	width: 300px;
	margin: 0 auto;
	text-align: center;
}
.schemap1 .text-block p{
	line-height: 24px;
	margin-top: 25px;
}
.schemap1 .bgcolor{
	background: #ffffff;
	background: -webkit-linear-gradient(#ffffff 34%, #341307 34%, #341307 99%);
	background: -o-linear-gradient(#ffffff 34%, #341307 34%, #341307 99%);
	background: linear-gradient(#ffffff 34%, #341307 34%, #341307 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#325874',GradientType=0 );
	padding: 0px;
}
.schemap1 .c1{
	float:right;
	padding: 0px 0px 105px 105px;
}
.schemap1 .c2 span{

	background-repeat: no-repeat;
	background-position: bottom center;
	display: block;
	width:120px;
	height: 550px;
	text-indent:-200px;
	overflow: hidden;
	position: absolute;
	top:-87px;
	left: 144px;
}
#videoplay0{
	position: relative;
	left: 46px;
}

.schemap2{
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 20%, #ffffff 20%, #323225 20%, #323225 80%, #ffffff 80%, #ffffff 78%, #ffffff 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 20%, #ffffff 20%, #323225 20%, #323225 80%, #ffffff 80%, #ffffff 78%, #ffffff 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 20%, #ffffff 20%, #323225 20%, #323225 80%, #ffffff 80%, #ffffff 78%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
.schemap2 .c1 img{
	margin: 35px 0 ;
}
.schemap2 .c2 {
	padding-top: 220px;
	color: #fff;
}
.schemap2 .c2 h3{
	font-size: 80px;
	font-weight: 500;
	position: relative;
	left: -230px;
	letter-spacing: 2px;
}
.schemap2 .c2 p{
	line-height: 25px;
	/*padding-right: 25%;*/
}

.schemap3{
	position: relative;
	width: 100%;
	height: 100%;
	max-height: 658px;
	overflow: hidden;
	z-index: 2;
}
.schemap3 .videoscrollbg{
	display: block;
	position:absolute;
	min-width: 100%;
	min-height: 100%;
	bottom:-50px;
	left: 50%;
	width: auto;
	height: auto;

	-ms-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	transform: translate(-50%,0);
}

.schemap3 .c1{
	display: flex;
	flex-flow: row nowrap;
}
.schemap3 .c2{
	flex: 1 1 auto;
	min-height: 658px;
}
.schemap3 .c3{
	flex: 0 1 auto;
	min-width: 8.8%;
	align-self: flex-end;
}
.schemap3 .c2 p{
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	padding-top: 15px;
}
.schemap3 .c2 h3{
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}
.schemap3 .c2 div{
	padding-top: 200px;
}
.schemap3 .c3 {
	padding-left: 50px;
}

.schemap3 .c3 span.bc{
	position: absolute;
	display: block;
	margin-top:-30px;
	margin-left: 12px;
}
.schemap3 .c3 span.bc p{
	color: #fff;
	transform-origin: bottom left;
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 2px;
}
.schemap3 .c3 span.bcline{
	content: ' ';
	display: block;
	width: 3px;
	height: 250px;
	margin-bottom: 100px;
	background-color: #fff;
	position: relative;
	z-index: 200;
	top:20px;
}
.schemap4{
	padding-top: 100px;
}
.schemap4 .top{
	font-weight: 500;
	font-size: 14px;
	color: #808080;
	width: 70%;
	line-height: 24px;
}
.schemap4 .list{

	margin-top: 200px;
}
.schemap4 .list li{
	list-style: none;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 8px;
	text-align: right;
}

.schemap4 .c1{
	position: absolute;
	width: 400px;
	top:400px;
}
.schemap4 .c1 span.bc{
	position: relative;
	display: block;
	margin-top:-30px;
	margin-left: 44px;

}
.schemap4 .c1 span.bc p{
	font-weight: 600;
	font-size: 56px;
	color: #000;
	transform-origin: bottom left;
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
}
.schemap4 .c1 span.bcline{
	content: ' ';
	display: block;
	width: 3px;
	height: 250px;
	margin-bottom: 100px;
	background-color: #000;
}

.schemap4 .bgcolor{
	background: #ffffff;
	background: -webkit-linear-gradient(#ffffff 34%, #323225 34%, #323225 99%);
	background: -o-linear-gradient(#ffffff 34%, #323225 34%, #323225 99%);
	background: linear-gradient(#ffffff 34%, #323225 34%, #323225 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#325874',GradientType=0 );
	padding: 0 0 130px 0;
}
.schemap4 .bgcolor img{
	float: right;
}

.schemap6{
	padding: 0px !important;
	min-height: 400px;
	background-size: cover;
}

.schemap6{
	display: block;
	margin-top: 100px;
	background-size: cover;
	min-height: 400px;
}
.schemap6 div.row{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-height: 400px;
}
.schemap6 div.row span{
	text-align: center;
	align-self:  auto;
	flex 0 1 auto;
}
.schemap6 h3{
	font-weight: 300;
	font-size: 60px;
	letter-spacing: 3px;
	color: #fff;
}
.schemap6 p{
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
}
#myimg, #myimg1,#myimg2{
	display: block;
	position: relative;
}
#myimg img, #myimg1 img, #myimg2 img{
	display: block;
	position: relative;
	margin-left: -5px !important;
	/*border-left: 2px solid #fff;*/
}
.photo-frame{
	display: block;
	position: relative;
	overflow: hidden;
	max-height: 600px;
}

/* specifiche per ghost */
.pt-ghost .schemap1 .c2 span{
	height: 614px;
}
.pt-ghost .schemap1 .c2 p{
	display: block;
	height: 110px;
	width: 132px;
	float: right;
	position: absolute;
	margin-top: 500px;
	margin-left: 300px;
}

.pt-ghost .schemap1 .bgcolor{
	background: #ffffff;
	background: -webkit-linear-gradient(#ffffff 34%, #645543 34%, #645543 99%);
	background: -o-linear-gradient(#ffffff 34%, #645543 34%, #645543 99%);
	background: linear-gradient(#ffffff 34%, #645543 34%, #645543 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#645543',GradientType=0 );
	padding: 0px;
}
.pt-ghost .schemap2{
	background: #ffffff;
	background: -webkit-linear-gradient(#ffffff 0%, #ffffff 20%, #ffffff 20%, #323035 20%, #323035 80%, #ffffff 80%, #ffffff 78%, #ffffff 100%);
	background: -o-linear-gradient(#ffffff 0%, #ffffff 20%, #ffffff 20%, #323035 20%, #323035 80%, #ffffff 80%, #ffffff 78%, #ffffff 100%);
	background: linear-gradient(#ffffff 0%, #ffffff 20%, #ffffff 20%, #323035 20%, #323035 80%, #ffffff 80%, #ffffff 78%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
.pt-ghost .schemap3 .c2 span.deco{
	display: block;
	height: 110px;
	width: 132px;
	position: absolute;
	margin-top: -175px;
	margin-left: -30px;
}
.pt-ghost .schemap4 .c1 span.bc p{
	color:#645543;
}
.pt-ghost .schemap4 .c1 span.bcline{
	background-color: #645543;
}

.pt-ghost .schemap4 .bgcolor{
	background: #ffffff;
	background: -webkit-linear-gradient(#ffffff 34%, #645543 34%, #645543 99%);
	background: -o-linear-gradient(#ffffff 34%, #645543 34%, #645543 99%);
	background: linear-gradient(#ffffff 34%, #645543 34%, #645543 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#645543',GradientType=0 );
}
.pt-ghost .schemap4 .c2 span.deco{
	display: block;
	height: 211px;
	width: 132px;
	position: absolute;
	margin-top: 111px;
	margin-left: 190px;
}
.pt-ghost .schemap6{
	position: relative;
}

.pt-ghost .schemap6 p.deco{

	display: block;
	height: 110px;
	width: 132px;
	position: absolute;
	z-index: 300;
	top:0;
	left:0;
	margin-left: 10%;
	margin-top: -60px;
}

/*specifiche per forward */
.pt-forward .schemap1 .c2 span{
	height: 588px;
}
.pt-forward .schemap1 .c2 p{
	display: block;
	height: 226px;
	width: 223px;
	float: right;
	position: absolute;
	margin-top: 500px;
	margin-left: 300px;
}
.pt-forward .schemap1 .text-block h2{
	color: #00596c;
}
.pt-forward .schemap1 .bgcolor{
	background: #ffffff;
	background: -webkit-linear-gradient(#ffffff 34%, #d13e07 34%, #d13e07 99%);
	background: -o-linear-gradient(#ffffff 34%, #d13e07 34%, #d13e07 99%);
	background: linear-gradient(#ffffff 34%, #d13e07 34%, #d13e07 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d13e07', endColorstr='#d13e07',GradientType=0 );
	padding: 0px;
}
.pt-forward .schemap2{
	background: #ffffff;
	background: -webkit-linear-gradient(#ffffff 0%, #ffffff 20%, #ffffff 20%, #00596c 20%, #00596c 80%, #ffffff 80%, #ffffff 78%, #ffffff 100%);
	background: -o-linear-gradient(#ffffff 0%, #ffffff 20%, #ffffff 20%, #00596c 20%, #00596c 80%, #ffffff 80%, #ffffff 78%, #ffffff 100%);
	background: linear-gradient(#ffffff 0%, #ffffff 20%, #ffffff 20%, #00596c 20%, #00596c 80%, #ffffff 80%, #ffffff 78%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
.pt-forward .schemap3 .c2 span.deco{
	display: none;
	height: 110px;
	width: 132px;
	position: absolute;
	margin-top: -175px;
	margin-left: -30px;
}
.pt-forward .schemap4 .c1 span.bc p{
	color:#e5d0c4;
}
.pt-forward .schemap4 .c1 span.bcline{
	background-color: #e5d0c4;
}

.pt-forward .schemap4 .bgcolor{
	background: #ffffff;
	background: -webkit-linear-gradient(#ffffff 34%, #d13e07 34%, #d13e07 99%);
	background: -o-linear-gradient(#ffffff 34%, #d13e07 34%, #d13e07 99%);
	background: linear-gradient(#ffffff 34%, #d13e07 34%, #d13e07 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d13e07',GradientType=0 );
}
.pt-forward .schemap4 .c2 span.deco{
	display: block;
	height: 227px;
	width: 224px;
	position: absolute;
	margin-top: 180px;
	margin-left: 290px;
	z-index: 300
}
.pt-forward .schemap6{
	position: relative;
}

.pt-forward .schemap6 p.deco{

	display: block;
	height: 227px;
	width: 224px;
	position: absolute;
	z-index: 300;
	top:0;
	left:0;
	margin-left: 10%;
	margin-top: -60px;
}
@media (max-width:1200px) {
	.collezioni .breath-100{
		margin-top: 10px;
	}
	.collezioni .schemap2 .c2 {
		padding-top: 0px;
	}
	.collezioni .schemap2 .c2  h3{
		position: static;
		font-size: 40px;
	}
	.collezioni .schemap2 .c2 img{
		margin: 40px 0 0 0;
		width: 100%;
	}
	.pt-ghost .schemap1 .c2 p{
		display: none;
	}

}
@media (max-width:992px) {
	.photo-frame, .photo-frame-campagna{
		display: block;
		position: static;
		overflow:visible;
		max-height: auto;
	}
	.collezioni .schemap1 .c2,
	.collezioni .schemap4 .c2,
	.pt-ghost .schemap4 .c2 span.deco,
	.pt-forward .schemap4 .c2 span.deco,
	.pt-forward .schemap6 p.deco{
		display: none;
	}
	.photo-frame-campagna {
		max-height:none;
		height: auto;
	}
	.title-offset-din{
		padding: 30px 0;
	}
	.title-down-din{
		top:0;
	}


}
/*-------------------------
PAGINA SHOWROOM
--------------------------*/
.showroom{
	margin-bottom: 100px;
}
.showroom .fillcol{
	padding-left: 75px;
	padding-right: 0px;
	background: #ffffff;
	background: -webkit-linear-gradient(#ffffff 1%, #ffffff 25%, #1e1e1e 25%, #1e1e1e 100%);
	background: -o-linear-gradient(#ffffff 1%, #ffffff 25%, #1e1e1e 25%, #1e1e1e 100%);
	background: linear-gradient(#ffffff 1%, #ffffff 25%, #1e1e1e 25%, #1e1e1e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1e1e1e',GradientType=0 );
}

.showroom .sroom-sx .fillcol{
	padding-left: 0px;
	padding-right: 75px;
}

.showroom h2{
	font-size: 80px;
	font-weight: 600;
	letter-spacing: 3px;
}
.showroom p{
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
}
.showroom .textblock{
	display: block;
	position: relative;
	min-width: 330px;
	min-height: 200px;

}
.showroom .cover-top{
	margin-bottom: 100px;
}
.showroom .textblock p{
	min-height: 100px;
	line-height: 30px;
}
.textblock:after{
	content: ' ';
	display: block;
	width: 3px;
	height: 200px;
	background: #000;
}
.showroom .sroom-sx .fillcol{
	padding-bottom: 80px;
}
.showroom .infosr span{
	display:inline-block;
	color:#fff;
	font-size: 14px;
	font-weight: 500;
	margin-right: 20px;
	padding: 20px 0;
}
.showroom .infosr span a{
	color: #fff;
}
.showroom .sroom-sx h2{
	text-align: right;
}
.showroom .sroom-sx .infosr{
	float: right;
}

.showroom .sroom-sx .infosr span{
	text-align: right;
	margin-right: 0px;
	margin-left: 40px;
}
.showroom .sroom-sx .textblock:after{
	content: ' ';
	display: block;
	float: right;
	margin-right: 23%;
}
.showroom section:last-child{
	margin-bottom: 150px;
}
@media (min-width:1200px) {
	.showroom .sroom-sx .fillcol{
		padding-bottom: 0px !important;
	}
}
@media (min-width:768px) and (max-width:1200px) {
	.showroom .sroom-sx .fillcol{
		padding-bottom: 60px;
	}
}
@media (min-width:576px) {
	.showroom .sroom-sx .fillcol{
		padding-bottom: 80px;
	}
}

@media (max-width:992px) {
	.showroom .textblock:after, .showroom .sroom-sx .textblock:after{
		display: none;
	}
	.showroom .textblock{
		height: auto;
		min-height: 10px;
	}
	.navigation .inner{
		display: none;
	}
	.showroom h2{
		font-size: 28px;
	}

}

@media (max-width:576px) {
	.showroom .button-slider{
		display: none !Important;
	}
	.showroom .fillcol {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.showroom .infosr{
		padding-left: 20px;

	}
	.showroom .sroom-sx .fillcol{
		background-color: #1e1e1e;
		padding-bottom: 180px;
	}
}

/*-------------------------
NEXT SEASON
--------------------------*/
.next-season .schema0{
	position: relative;
	z-index: 10;
}
.next-season .csoon{
	position: relative;
	text-align: center;
	top: -60px;
	left: 35%;
	float: left;
}
.next-season .csoon h3{
	font-size: 80px;
	font-weight: 300;
	color: #fff;
}
.next-season .csoon p{

	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}
.next-season .bg-section{
	position: relative;
	min-height: 396px;
	background: url('../dev/ns3.jpg') no-repeat;
	background-size: cover;
	margin-top:-345px;
	z-index: 9;
}
.next-season .preregister input, .next-season .preregister form{
	text-align: center;
}
.next-season .preregister label{
	display: none;
}
.next-season .preregister input{
	border: none;
	border-style: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 430px;
	border-bottom: 2px solid #000;
	margin:0px auto;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 2px;
	border-radius: 0px;
}

.next-season .preregister button{
	border: none;
	border-style: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: 600;
	font-size: 14px;
	text-transform:uppercase;
	color: #000;
	background: none;
	margin:0px auto;
}
.next-season .preregister{
	padding:40px 0;
}
.next-season .preregister p{
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 3px;
	color:#c7c7c7;
}
@media (max-width:992px) {
	.next-season .csoon h3,.next-season .csoon p{
		color: #000;
	}
	.next-season .csoon{
		position: static;
		text-align: center;
		float: none;
		margin: 0 auto;
	}
}

.schema2{
	height: auto !important;
	max-height: 700px;
	background-repeat: no-repeat;
	padding-top: 100px;
	background-size: 100%;
	background-position: top center;
	padding-bottom: 150px;
	margin-bottom: 370px;
}

/*-------------------------
PAGINA CONTACTS
--------------------------*/
.contacts .block1, .contacts .block2, .contacts .block3{
	min-height: 600px;
	float: left;
}
.contacts .panel {
	position: relative;
	height: 600px;
	margin: 1em 0;
	overflow: hidden;
	width: 100%;
}
.contacts .cover-top{
	margin-bottom: 100px;
}
/*
.contacts .infobox{
position: relative;
border: 1px solid yellow;
width: 1200px;
overflow: hidden;
height: 700px;
}
*/
.contacts .block1{
	display: flex;
	align-items: center;
	justify-content: center;
}
.contacts .block1 h3{
	font-weight: 300;
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
	font-size: 60px;
	width: 400px;
	text-align: center;
	position: relative;
	left: -10px;
}
.contacts .block2{
	display: flex;
	align-items: center;
	justify-content: center;
}
.contacts .block2 .list{
	width: 100%;
}
.contacts .block2 .list dl{
	display: inline-block;
	width: 200px;
	height: 160px;
}
.contacts .block2 .list dt{
	font-weight: 300;
	font-size: 14px;
	padding-bottom: 30px;
}
.contacts .block2 .list dd{
	font-weight: 600;
	font-size: 13px;
}
.contacts .block2 .list dd p{
	line-height: 30px;
}
.contacts .block3{
	width: 1000px;
	background: #fff;
	position: absolute;
	/*left: 2000px;*/
	bottom: 0;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	display: flex;
	flex-flow:  row nowrap;
}

.contacts .block3 .maplabel{
	position: relative;
	display:inline-flex;
	background-color: #000;
	width: 110px;
	height: 600px;
	color: #fff;
	flex: 0 1 auto;
	background-image: url('../img/maplabel.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	cursor: pointer;
}
.contacts .block3 .mapgoogle{
	display: inline-flex;
	width: 1100px;
	min-height: 600px;
	color: #000;
	flex: 1 1 auto;
}
#map {
	height: 100%;
}
.contacts .intro{

	position: relative;
	top:-290px;
	margin-top: -200px;
}
.contacts .introfix{
	position: static;
	margin-top: 170px;
}
.contacts .intro h1{
	text-align: center;
	font-size: 80px;
	font-weight: 300;
}
.contacts .intro p{
	text-align: left;
	font-size: 14px;
	font-weight: 500;
	padding-top: 30px;
}
.contacts .infoline{
	display: block;
	border-bottom: 2px solid black;
	margin-bottom: 30px;
	display: flex;
	flex-flow: row;
	align-items: flex-start;
}
.contacts .infoline label{
	flex: 0 1 auto;
	align-self: flex-start;
	width: 200px;
}
.contacts .infoline .form-control{

	flex: 1 1 auto;
	align-self: flex-start;
	border: none;
	box-shadow:none;
	margin-top: -9px;
}
.contacts .chk label{
	font-size: 14px;
	font-weight: 300;
}
.contacts .btn{
	float: right;
	background: #fff;
	border: none;
	border-radius: 0px;
	border-bottom: 2px solid #000;
	color: #000;
	box-shadow: none;
	font-weight: 600;
}
.contacts #omodal{
	cursor: pointer;
	font-weight: 500;
}
.contacts{
	padding-bottom: 100px;
}
@media (max-width:1200px) {
	.contacts .intro {
		top: 0px;
		margin-top: 0px;
	}
	.contacts .block1, .contacts .block2, .contacts .block3{
		min-height: auto;
		float: none;
	}

	.contacts .panel {
		position: static;
		height: auto;
		margin: 1em 0;
		overflow:visible;
	}
	.contacts .maplabel{
		display: none !important;
	}
	.contacts .block3 .mapgoogle {
		width: 100%;
	}
	.contacts .block3{
		width: 100%;
		background: #fff;
		position: static;
		/*left: 2000px;*/
		bottom: 0;
		animation-timing-function: ease;
		-webkit-animation-timing-function: ease;
		display: block;
		flex-flow:  row nowrap;
		margin-left: 0px !important;
		overflow: hidden;
		padding: 10px;
	}


	.contacts .list, .contacts .block2 .list{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-content: center;

	}
	.contacts .list dl{
		width: auto !important;
		flex: 0 1 auto;
		width: auto !important;
		min-width: 300px;
		text-align: center;
	}
	.contacts .block1 h3{
		font-weight: 300;
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		transform: rotate(0deg);
		font-size: 40px;
		width: 400px;
		text-align: center;
	}
	.block1 span h3{
		width: 100% !important;
		text-align: center;
		padding-bottom: 30px;
	}

}

/*-------------------------
PAGINA HOME
--------------------------*/
.video-containter-home{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.video-containter-home video {
	/* Make video to at least 100% wide and tall */
	min-width: 100%;
	min-height: 100%;

	/* Setting width & height to auto prevents the browser from stretching or squishing the video */
	width: auto;
	height: auto;

	/* Center the video */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 9;
}
nav.navbar-home {
	position: absolute;
	top: 0;
	left: 50%;
	right: 0;
	width: 50%;
	height: 100%;
	overflow: hidden;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.home .logo{
	position: absolute;
	z-index: 15;
	left:89px;
	top:55px;
}
.hover-image{
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: left;
	position: absolute;
	top: 0;
	left: -100%;
	right: 0;
	width: 50%;
	height: 100%;
	overflow: hidden;
	z-index: 11;
	transition: left 0.5s;
	transition-timing-function: ease;
}
.hover-image-sel{
	left: 0 !important;
}
.navbar-home ul.navi{
	flex: 0 1 auto;
	flex-flow: column nowrap;
	align-content:  left;
}
.navbar-home ul.navi li{
	list-style: none;
	margin-top: 20px;
}
.navbar-home ul.navi li a{
	display: block;
}
.navbar-home ul.navi li a.group-start{
	padding-top: 50px !important;
}
.navbar-home ul.navi li a{
	color: #fff;
	font-size: 16.5px;
	font-weight: 500;
	text-transform: uppercase;

}
@media (max-width:992px) {
	nav.navbar-home {
		top: 100px;
		left: 0%;
		right: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		overflow: hidden;
		z-index: 10;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
	}

	.home .logo{
		position: absolute;
		z-index: 15;
		left:50%;
		top:5px;
		margin-left: -42px
	}
	.video-containter-home{
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.video-containter-home video {
		position: fixed;
	}
	ul.navi{
		padding-top: 60px;
	}
}
@media (max-width:576px) {
	.home .hover-image{
		display: none;
	}
	.home ul.navi{
		padding: 0px;
	}
	.home .logo{
		position: relative;
		left:auto;
		margin: 0px;
	}
	.panel-menu ul li a{
		text-align: center;
		width: auto;
		height: 20px;
	}
	.panel-menu ul li {
		text-align: center;
		width: auto;
	}
	.panel-menu .group-link a{
		width: auto;
		height: 36px;
		line-height: 36px;
	}
	.navbar-default .navbar-toggle {
		height: 46px;
		border-radius: 60px;
	}
	.secondarybar a{
		display: block;
		font-size: 16px;
		height: 28px;
		line-height: 28px;
	}
}


/*-------------------
------
PRESS DETERMINATE DEVOTED
--------------------------*/
.determinate .cover-page{
	height: 450px;
	background-position:center center;
	margin-top:90px;
}
.determinate .cover-page div.fbb{
	display:flex;
	flex-flow: row nowrap;
	align-content:center;
	justify-content:center;
	align-items:center;
	align-self:center;
	min-height:450px;
}
.determinate .cover-page div.fbb .block{
	display:flex;
	align-self:auto;
}
.determinate .cover-page h1{
	color: #FFFFFF;
	font-size: 60px;
	text-align:center;
	letter-spacing: 6px;
}
.determinate .cover-page h1 span{
	position:relative;
	border-bottom:3px solid #fff;
	padding-bottom:5px;
	height:65px;
	display:inline-block;
}
.determinate .btm{
	background-repeat:no-repeat;
	height: 330px;
	background-size: cover;
	margin-top: 50px;
}
.determinate .btm a{
	font-size: 60px;
	letter-spacing: 2px;
	font-weight: 300;
	line-height: 30px;
}
.determinate .btm a span{
	font-size: 14px;
	font-weight: 600;
}
.dd-b1{
	padding-top:60px;
}
.determinate h2{
	font-weight: 600;
	font-size: 14px;
	letter-spacing:1px;
}
.determinate .text-evidence{
	font-size: 22px;
	line-height:28px;
	font-weight: 600;
	letter-spacing:1px;
	color:#231F20;
}
.determinate .text-block{
	font-size: 14px;
	font-weight: 400;
	line-height:30px;
	padding-bottom:30px;
	color: #959595;
}

.determinate .dd-b3{
	height: 610px;
	background-position:center center;
}

.determinate .dd-b3 div.fbb{
	display:flex;
	flex-flow: row nowrap;
	align-content:center;
	justify-content:center;
	align-items:center;
	align-self:center;
	min-height:610px;
}
.determinate .dd-b3 div.fbb .block{
	display:flex;
	align-self:auto;
	font-family: 'Abril Fatface', Georgia;

}
.determinate .dd-b3 div.fbb h2{
	color:#fff;
	font-size: 50px;
	line-height:60px;
	text-align:center;
}
.dd-b5{
	padding-top:100px;
}
.determinate .text-block-full h3{
	font-weight: 500;
	font-size: 50px;
	line-height: 60px;
	text-align: center;
	color: #231F20;
}
.determinate .text-block-full h3 span{
	position:relative;
	border-bottom:3px solid #231F20;
	padding-bottom:60px;
	height:55px;
	display:inline-block;
}

.determinate .dd-b7{
	height: 610px;
	min-height: 630px;
	background-position:top center;
	/*
	background-repeat:no-repeat;
	background-size:100%;
	*/
}

.determinate .dd-b7 div.fbb{
	display:flex;
	flex-flow: row nowrap;
	align-content:center;
	justify-content:center;
	align-items:center;
	align-self:center;
	min-height:610px;
}
.determinate .dd-b7 div.fbb .block{
	display:flex;
	align-self:auto;
	font-family: 'Abril Fatface', Georgia;

}
.determinate .dd-b7 div.fbb h2{
	display:flex;
	align-self:auto;
	font-family: 'Abril Fatface', Georgia;
	font-size: 50px;
	line-height: 60px;
	COLOR: #FFF;
}
.determinate .dd-b7-content{
	position: relative;
	margin-top: -200px;
}
.dd-b8 p{
	margin: 40px 0;
}

/*
video
*/

.video-header-container{
	width: 100%;
	margin-top:90px;
	position: relative;
	overflow: hidden;
}
.video-container{
	position: absolute;
	top:50%;
	left:50%;
	height: 450px;
	width: auto;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	transform: translate(-50%, -50%);
}
.video-container video{
	position: absolute;
	bottom: 0px;
}
.cover-page .video-header-container{
	height: 450px;
}

.dd-b3 .video-header-container{
	height: 610px;
}
.dd-b7 .video-header-container{
	height: 615px;
}
.dd-b7{
	width:100%;
}
.dd-b7 video{
	-moz-transform:scale(1.5);
	-webkit-transform:scale(1.5);
	-o-transform:scale(1.5);
	-ms-transform:scale(1.5);
	transform:scale(1.5)
}

@media(min-width:1920px) {

	.video-container{
		position: relative;
		margin: 0 auto;
		width: 1920px !important;
		top:0px;
		left:0px;
		transform: translate(0, 0);
		overflow: hidden;
	}

	.video-header-container{
		width: 1920px;
		height: 450px;
		margin-top:90px;
		overflow: hidden;
		margin: 0 auto;
	}

	.video-header-container video{
		-moz-transform:scale(2.5);
		-webkit-transform:scale(2.5);
		-o-transform:scale(2.5);
		-ms-transform:scale(2.5);
		transform:scale(2.5);
	}
	.video-header-container div.fbb{

		position: absolute;
		top: 0px;
		left:0px;
	}

}

.determinate .cover-page div.fbb{
	display:flex;
	flex-flow: row nowrap;
	align-content:center;
	justify-content:center;
	align-items:center;
	align-self:center;
	min-height:450px;
}

@media (max-width:992px) {
	.determinate main .img-responsive{
		margin:15px auto;
		width:100%;
	}
	.determinate .dd-b7 .fbb .block h2{
		font-size: 25px !important;
		line-height:30px !important;
		text-align:center;
		padding: 20px 0px;
	}
	.determinate .dd-b7 div.fbb {
		min-height:auto;
	}
	.determinate .dd-b4 h3 {
		font-size: 26px;
		line-height: 26px;
	}
	.determinate .text-block-full h3 span{
		height: 30px;
	}
}

/*
bugfixing
*/
/*
#gallery1{
height: 680px;
border: 1px solid white;
overflow: hidden;
max-height: 640px;
}
*/

/*-------------------
------
LIFE PAGE
--------------------------*/
#life section, div.scrollmagic-pin-spacer{
	pointer-events: none;
}
#life-container{
	display: block;
	height: calc(100vh - 150px);
	width: 100%;
	margin-top: 100px;
	background-color: #fff !important;
}
#life{
	background-color: #000;
}
#animate4{
	padding: 0px 15px;
}
.containerbox{
	position: fixed;
	display: block;
	width: 100%;
	height: 100vh;
}
.box-left{

	position: absolute;
	display: block;
	background: rgba(0,0,0, 0.5);
	width: 33%;
	height: 100vh;
	left:-33%;
}
.box-right{
	position: absolute;
	display: block;
	background: rgba(0,0,0, 0.5);
	width: 33%;
	height: 100vh;
	right: -33%;
}

.life-container{
	display: block;
	height: 100vh;
}
#life{
	background-attachment:fixed;
	background-size: cover;
	/*
	background-position-x: 0%;
	background-position-y: 80px;
	*/
	transition:all 2s ;
	-webkit-transition:all 2s ;
	-o-transition:all 2s ;
	-moz-transition:all 2s ;
	background-repeat: no-repeat;
	margin-top: 90px;
	background-size: 100%;
}
/*
.life{
background-size: 100%;
}
*/
.lp-1{
	background-position: 10% 50%;
}
.lp-full{
	background-size: 250%;
	background-position-x: 38%;
	background-position-y: 20%;
}

#life .box-left, #life .box-right{
	display: flex;
	align-items: center;
}
#animate1{
	padding-left: 8.33%;
}
#life div.middlecontainer{
	width: 100%;
	height: auto;
	margin: 0 auto;
	color: #fff;
	padding: 20px;
}
#life span.indice{
	font-family: 'Abril Fatface';
	font-size: 100px;
}
#life h2{
	font-family: 'Poppins';
	font-size: 22px;
	font-weight: 600;

}

#life p{
	font-weight: 500;
	font-size: 14px;
	padding-right:33%;
	line-height: 24px;
}

#life #my-video{
	width: 90%;
	height: auto;
	margin: 0 auto;
}

.video-life h2{
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	padding-bottom: 22px;
	letter-spacing: 3px;

}

.panelife h3{
	font-weight: 400;
	font-family: 'Abril Fatface';
	font-size: 24px;
	line-height: 36px;
	text-align: center;
}
.panelifetext{
	position: absolute;
	left:0px;
	top:10000px;
	display: block;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	opacity: 0;
	/*display: none;*/
	transition: opacity 1s;
}
.panelife{
	transition: width 1s;
}
.panelifeafter{
	transition: width 1s;
	width: 100% !important;
}
.panelifetextshow{
	transition: opacity 1s;
	opacity: 1;
	top:0px;
	/*display: block;*/
}

.lifeshowmore{
	position: relative;
	top: 12px;
	font-weight: 600;
	border-bottom: 2px solid #fff;
	text-transform: uppercase;
	padding-bottom: 5px;
	width: auto;
	cursor: pointer;
}
.textboxlarge{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}
.textboxlarge p{
	font-family: 'Poppins';
	padding: 0px !important;
	font-size: 13px;
	font-weight: 400 !important;
}
#lifeclose{
	display: block;
	background: url('../img/close-w.png');
	width: 22px;
	height: 22px;
	margin: 0 auto 30px auto;
	cursor: pointer;
}
#life .panelife p.citname{
	text-transform: uppercase;
	font-size: 14px
		font-weight: 500;
	text-align: center;
	padding: 10px 0px;
}
#life .gallery-life{
	text-align: center;
}
#life .gallery-life p{
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	padding: 0px;
	font-weight: 500;
}

#life div.controller-ninja-life{
	height: 70px;
	padding-top: 10px;
	background-color: rgba(0, 0 , 0, 0) !important;
}
#life #ninja-slider {
	background-color:transparent;
}
#life #ninja-slider.fullscreen {
	background-color: #000 !important;
}
#life div.controller-ninja-life .fs-icon{
	position: static;
	float: right;
}
#life div.controller-ninja-life div.navsWrapper{
	height: auto;
	position: relative;
	left:0px;
	top:0px;
	width: calc(100% - 64px);

}
#life div.controller-ninja-life #ninja-slider-prev{
	right: 56%;
}
#ninja-slider.fullscreen .slider-inner{
}
#ninja-slider.fullscreen div.controller-ninja-life{
	position: absolute;
	bottom:0px;
	right: 0px;

}
#life #ninja-slider-prev, #life #ninja-slider-next{
	position: static !important;
	float: right;
}
#life #ninja-slider-prev{
	margin-right: 5px;
}
#ninja-slider.fullscreen .navsWrapper{
	/*display: none;*/
}
#ninja-slider.fullscreen{
	align-items: center;
}

.bottomlife{
	position: fixed;
	width: 13px;
	height: 30px;
	left: 50vw;
	bottom:40px;
	background-image: url('../img/bottom.png');
	background-repeat: no-repeat;
	background-position: center;
	z-index: 9999999999999999999;
	display: none;
	text-indent: -5000px;
}
.toplife{
	position: fixed;
	width: 13px;
	height: 30px;
	right: 60px;
	top:40px;
	color: #000;
	font-size: 14px;
	font-weight: 500;
	z-index: 99999999999999999999;
	display: block;
}

.ll1{
	display: block;
}

.ll4{
	width: auto;
	height: 30px;
	left: 50vw;
	bottom:40px;
	background-image: none !important;
	text-indent: 0px;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	background-repeat:no-repeat;
	background-position: -500px;
}
/*
media query life
*/

@media (max-width:992px) {

	.containerbox{
		position: static;
		display: block;
		width: 100%;
		height: 100vh;
	}
	.box-left{

		position: static;
		display: block;
		background: rgba(0,0,0, 0.5);
		width: 100%;
		height: auto;
	}
	.box-right{
		position: static;
		display: block;
		background: rgba(0,0,0, 0.5);
		width: 100%;
		height: auto;
	}

	.life-container{
		display: block;
		height: auto;
	}
	#life{
		background-attachment:fixed;
		transition:all 2s ;
		-webkit-transition:all 2s ;
		-o-transition:all 2s ;
		-moz-transition:all 2s ;
		background-repeat: no-repeat;
		background-size: 200%;

	}


	.panelifetext{
		position: static;
		display: block;
		background: rgba(0,0,0, 0.8);
		width: 100%;
		height: auto;
		-webkit-transition: top 2s; /* Safari */
		transition: top 1s;
		padding: 20px 10px;
		margin-top: 20px;
	}
	.panelifetextshow{
		opacity:1;
	}
	.panelife{
		transition: width 2s;
	}
	.panelifeafter{
		transition: width 2s;
		width: 100% !important;
	}
	.lifeshowmore{
		position: relative;
		top: 12px;
		font-weight: 600;
		border-bottom: 2px solid #fff;
		text-transform: uppercase;
		padding-bottom: 5px;
		width: auto;
		cursor: pointer;
	}
	.textboxlarge{
		width: 80%;
		margin: 0 auto;
		text-align: center;
		color: #fff;
	}
	.textboxlarge p{
		font-family: 'Poppins';
		padding: 0px !important;
		font-size: 13px;
		font-weight: 400 !important;
	}
	#lifeclose{
		display: block;
		background: url('../img/close-w.png');
		width: 22px;
		height: 22px;
		margin: 0 auto 30px auto;
		cursor: pointer;
	}
	#life .panelife p.citname{
		text-transform: uppercase;
		font-size: 14px
			font-weight: 500;
		text-align: center;
		padding: 10px 0px;
	}
	#lifeclose, .lifeshowmore{
		/*display: none;*/
	}
	.textboxlarge{
		margin-top: 100px;
	}
	#life p{
		padding-right:20px;
	}
	.middlecontainer{
		position: static;
		margin:30px 0;
	}
	#life div.middlecontainer{
		display: block;
		margin:150px auto;
	}

}

/*
Lista Life
*/
.life-list-main{
	margin-top: 100px;
}
.life-list-main h2, .life-list-main p{
	text-align: center;
}
.life-list-main h2{
	font-size: 80px;
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 10px;
}
.life-list-main p{
	font-size: 14px;
	color:#8E8E8E;
	line-height: 30px;
}
.life-list a:hover{
	color: #E23E04 !important;
}
main#life-list{

	width: 100%;
	overflow: hidden;

}
.life-list .row{
	margin-bottom:60px;
	margin-top: 60px;
}
.llblock{
	position: relative;
}
.llblock span{
	font-size: 130px;
	font-family: 'Abril Fatface', cursive;
}
.llblock h5{
	display: block;
	width: 400px;
	height: 200px;
	overflow: hidden;
	font-size: 34px;
	font-weight: 500;
	transform-origin: top left;
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
}
.llblock img{
	width:66%;
	margin: 50px auto 0 auto;
}
.mood1 span{
	position: absolute;
	right:60px;
	top:-50px;
}
.mood1 h5{
	position: absolute;
	right:-300px;
	top:620px;
}
.mood2{
	margin-top: 90px;
}
.mood2 span{
	position: absolute;
	right:30px;
	bottom:-100px;
}
.mood2 h5{

	position: absolute;
	right:-300px;
	top:340px;
}

.mood3{
	margin-top: 90px;
}
.mood3 span{
	position: absolute;
	left:10px;
	top:-60px;
}
.mood3 h5{

	position: absolute;
	left:60px;
	bottom:-274px;
}

.mood4{
	margin-top: 90px;
}
.mood4 span{
	position: absolute;
	left:20px;
	bottom:-100px;
}
.mood4 h5{

	position: absolute;
	left:60px;
	bottom:-100px;
}

/*
	Fix ingrandimenti gallery
*/
/*
#ninja-slider.fullscreen .ns-img{
	height: 100vh !important;
}
.fullscreen a.ns-img{
	background-size: auto;
}
*/

.term-donna .schemau1{
	padding-bottom: 100px !important;
}

@media (max-width:576px) {
	.llblock h5{
		position: static;
		height: auto;
		margin-bottom: 30px;

		transform-origin: top left;
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		transform: rotate(0deg);
		top:0px;
		left:0px;
		width: 100%;
		text-align: center;
	}
	.mood1 span, .mood2 span, .mood3 span, .mood4 span {
		display: block;
		position: static;
		width: 100%;
		text-align: center;
		font-size: 50px;
	}
}

/*
	Pagina NextSeason | more
*/

.nextseasonpage .schemap0 h2{
	color: #fff;
	font-size: 80px;
	font-weight: 300;
}

.nextseasonpage .schemap0 h2 span{
	font-weight: 600;
	padding-left: 10px;
}

.nextseasonpage .lc{
	/*
background: -webkit-linear-gradient(#ffffff 50%, #325874 50%, #325874 99%);
background: -o-linear-gradient(#ffffff 50%, #325874 50%, #325874 99%);
background: linear-gradient(#ffffff 50%, #325874 50%, #325874 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#325874',GradientType=0 );
*/
}
.nextseasonpage .schemap1{
	max-height:886px;
}


.nextseasonpage .pblock{
	position: absolute;
	width: 505px;
	height: 505px;
	top:0px;
	right: 0px;
	margin-right: -250px;
	display: block;
	background-color: #fff;
	z-index: 999;
	margin-top: 200px;
}
.bxslidernext{
	position: absolute;
	left:50%;
	top:0px;

}

.bx-wrapper {
  position: relative;
  margin-bottom: 60px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.first .bx-wrapper img {
  max-width: 100%;
	margin: 0 11% 0 9%;
  display: block;
}
.second .bx-wrapper img {
	margin-top: 20px;
}
.bxslider, .bxslidernext{
  margin: 0;
  padding: 0;
}
ul.bxslider, ul.bxslidernext{
  list-style: none;
}
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}

.second{
	position: absolute;
	width: 100%;
	height: 833px;
}

.nextseasonpage .pblock li{
	text-align: center;
	display: block;
	position: absolute;
	top: 30px;
}
.nextseasonpage .schemap1{
	margin-bottom: 100px;
	min-height: 990px;
}
.nextseasonpage .pblock li img{
	margin-bottom: 30px;
	margin: 20px auto 0 auto;
}
.nextseasonpage .pblock p{
	font-size: 14px;
	width: 60%;
	text-align: center;
	margin: 60px auto 20px auto;
	color: #959595;
	line-height: 30px;
}
.nextseasonpage .visualizza{
	display: inline-block;
	font-size: 40px;
	font-weight: 500;
	text-align: center;
	border-bottom: 2px solid #000;
	padding-bottom: 2px;
	margin: 0 auto;
}
.nextseasonpage #paginazione{
	position: absolute;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 30px;
	height: 100%;
	top:0;
	right: 10px;
}
.nextseasonpage #paginazione .bx-pager-item{
	flex: 0 1 auto;
	padding-top: 5px;
	padding-bottom: 5px;
}
.nextseasonpage #next a, .nextseasonpage #prev a{
	position: absolute;
	top:50%;
	left:-25px;
	background: url('../img/vertical.png');
	display: block;
	width: 50px;
	height: 50px;
	text-indent: -5000px;
}
.nextseasonpage #next a{
	margin-top: -53px;
}
.nextseasonpage #prev a{
	margin-top: 3px;
	background-position: bottom;
}

.nextseasonpage .bx-pager-item .active{
	color: #000;
	text-decoration:none;
}
.nextseasonpage .bx-pager-item{
	border-bottom: 1px solid #919191;
}
.nextseasonpage .bx-pager-item a{
	color: #a4a4a4;

}
.nextseasonpage .bx-pager-item:last-of-type{
	border-bottom: none !important;
}


/** THEME
===================================*/

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;

}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url('images/bx_loader.gif') center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url('images/controls.png') no-repeat 0 -32px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url('images/controls.png') no-repeat -43px -32px;
}
#next a.disabled, #prev a.disabled{
	opacity: 0.7;
	cursor:default !important;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url('images/controls.png') -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url('images/controls.png') -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

/*
Cookie
*/
/*
#cookie-law-bar {
display: none !important;
position: fixed !important;
left: 0 !important;
width: 100%;
min-height: 42px !important;
font-size: 14px !important;
text-align: center !important;
z-index: 9999999999 !important;
padding: 5px 42px !important;
line-height: 31px !important;
bottom: 0px !important;
background: rgba(0, 0, 0, 0.3) !important;
color: rgba(255, 255, 255, 0.7) !important;
display: block !important;
min-height:60px !important;
line-height: 16px !important;
padding-top: 15px !important;
}

.cookie-law-bar-transition-top {
-webkit-transition: top 500ms cubic-bezier(.455,.03,.515,.955)!important;
transition: top 500ms cubic-bezier(.455,.03,.515,.955)!important;
}

.cookie-law-bar-transition-bottom {
-webkit-transition: bottom 500ms cubic-bezier(.455,.03,.515,.955)!important;
transition: bottom 500ms cubic-bezier(.455,.03,.515,.955)!important;
}

body.cookie-law-bar-body:before {
position: relative !important;
content: ' ' !important;
display: block !important;
visibility: hidden !important;
height: 0 !important;
padding: 0 !important;
margin: 0 !important;

}

body.cookie-law-bar-body-slide:before {
height: 42px !important;
-webkit-transition: height 500ms cubic-bezier(.455,.03,.515,.955) !important;
transition: height 500ms cubic-bezier(.455,.03,.515,.955) !important;
}

#cookie-law-bar a {
color: #fff!important;
font-weight: 500!important;
transition: all .2s ease-in-out!important;
}

#cookie-law-bar a:hover {
color: #fff!important;
}

#cookie-law-bar button {
position: absolute!important;
right: 10px!important;
top:calc(50% - 15px) !important;
display: inline-block!important;
font-size: 14px!important;
font-weight: 700!important;
max-width: 317px!important;
line-height: 32px!important;
text-align: center!important;
border-radius: 2px!important;
padding: 0 20px!important;
margin-left: 16px!important;
vertical-align: middle!important;
cursor: pointer!important;
background: none!important;
border: 0!important;
outline: 0!important;
font-family: inherit!important;
text-transform: none!important;
overflow: visible!important;
word-wrap: normal!important;
overflow: hidden!important;
text-overflow: ellipsis!important;
white-space: nowrap!important;
transition: all .4s ease-in-out!important;
text-transform: uppercase!important;
color:#fff!important;

}
#cookie-law-bar button:hover {
background: #fff!important;
color: #000!important;
}*/
/*
Responsive video
*/

.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 60px; overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
Mobile Fix
*/
@media (max-width:1200px) {
	.second{
		display: none;
	}
	.nextseasonpage .pblock{
		width: 260px;
		right: -34%:
		margin-right: 0px;
	}
	.first .bx-wrapper img{
		margin: 0px !important;
	}
}
@media (max-width:992px) {
	#cookie-law-bar {
		padding-bottom: 12px !important;
		text-align: center !important;
	}
	#cookie-law-bar button {
		position:static !important;
		margin: 0 auto !important;
	}
	.single-campagne .schema0 .text-block p{
		text-align: center;
		margin-bottom: 100px;
	}
	.single-campagne .schema0 .text-block h2{
		text-align: center;
	}
	.single-campagne .schema2{

		padding-bottom:20px;
		background: none !important;
	}
	.single-campagne .schema2 .container, .schema2 .container .col-md-12{
		margin: 0px !important;
		padding: 0px !important;
	}
	.term-uomo  .text-block .quad-60, .term-donna .text-block .quad-60{
		display: none;
	}
	.collezioni .schemap1 .text-block{
		margin: 50px auto !important;
	}
	.determinate .text-block-full h3{
		font-size: 30px;
	}
	.determinate .btm a {
		font-size: 30px;
	}
	.determinate .text-block-full h3 span {
		height: 30px;
		padding-bottom: 0px;
	}
	.dd-b7 .text-block-full h3 span{
		padding-bottom:45px !important;
	}
	.campagne-list .campagne .col-md-4{
		margin-bottom: 50px;
	}
	.contacts .introfix{
		padding-top: 100px;
		width: 90%;
		margin: 0 auto;

	}
	.contacts .intro h1{
		font-size: 70px;
	}
	.contacts .introfix p{
		text-align: center;
		font-size: 16px;
	}
	.contacts .block2 .list dt {
		font-size: 18px;
		padding-bottom: 11px;
		color:#959595;
	}
	.contacts .block2 .list dd {
		font-size: 16px;
		font-weight: 600;
	}
	.contacts .block2 .list dl{
		height: 90px;
	}
	.contacts .block3{
		padding: 0px;
		margin-top: 150px;
	}
	.contacts .infoline label {
		width: 100%;
	}

	.showroom h2, .showroom .textblock p{
		text-align: center !important;
	}
	.showroom .infosr span{
		text-align: center;
		padding-left: 0px;
	}
	.showroom .sroom-sx .fillcol{
		/*padding-bottom: 130px;*/
	}
	.showroom .infosr span{
		margin: 0px !important;
		width: 100%;
	}
	.showroom .sroom-sx .infosr span{
		float: none;
		text-align: center;
	}
	.showroom .infosr span{
		padding: 12px 0;
	}
	.infosr{
		padding:20px 0px;
	}
	.showroom .sroom-sx .infosr{
		float:none;
	}
	.showroom .sroom-sx .fillcol{
		padding-bottom: 0px !important;
	}

	.containerbox{
		width: 100% !important;
	}
	.containerbox div{
		padding: 10px 0 !important;
	}
	.panelife{
		padding: 50px !important;
		margin: 0px !important;
		border: 1px solid transparent;
		position: static !important;
		min-height: 100vh;
		background: rgba(0, 0, 0, 0.6) !important;
	}
	main#life{
		background-size: cover !important;
		background-position: center 90px !important;
	}
	#life .life-container{
		min-height:900px;
	}
	.ll1{
		display: none;
	}
	.box-left{
		width: 100% !important;
	}
	.middlecontainer{
		width: 80% !important;
		display: block !important;
		margin: 0 auto !important;
	}
	.middlecontainer, .middlecontainer p{
		text-align: center;
		padding: 0px !important;
	}
	#life .box-left, #life .box-right {
		display: block;
	}
	.toplife{
		top: 93px;
		right: 43px;
		color: #fff;
	}
	.secondarybar{
		margin-top: 130px;
	}
	.moreinfo p {
		padding: 0px !important;
	}

	.nextseasonpage h2, .nextseasonpage p{
		text-align: center;
	}
	.nextseasonpage .pblock{
		display: block;
		position: static;
		width: 100%;
	}
	.nextseasonpage .visualizza{
		display: inline-block;
		font-size: 40px;
		font-weight: 500;
		text-align: center;
		border-bottom: 2px solid #000;
		padding-bottom: 2px;
		margin: 0 auto;
	}
	.nextseasonpage #paginazione{
		display:none;
	}
	.nextseasonpage #next a, .nextseasonpage #prev a{
		display: none;
	}
	.first .bx-wrapper img{
		margin: 0px !important;
	}
	.second{
		display: none;
	}
	.pblock{
		padding-top:10px;
		padding-bottom: 60px !important;
		height: auto !important;
	}
	.lc{
		padding-bottom: 30px;
	}
	.nextseasonpage .pblock div{
		padding:10px;
	}
	.nextseasonpage .pblock div img{
		text-align: center;
		margin:  20px auto;
	}
	#myimg img, #myimg1 img, #myimg2 img{
		margin-left: 0px !important;
	}
	.video-quad{
		margin-top: 10px !important;
	}
}
